html
  head
    meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
    body
      h1.h1 Olá! Muito obrigado por sua doação.
      
      h3 

      p Segue o link com o boleto para a conclusão da doação:

      a(href = link, target='_blank') #{link}
      br

      p Obrigado,

      p Equipe doebem
