html
  head
    meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
    //- title = "Email doebem: " + subject
    body

      img(src='https://s3-sa-east-1.amazonaws.com/doebem/doar_faz_bem.png')

      h3 Muito obrigado, <strong>#{nome}</strong>!

      p A sua doação de <strong>R$#{amount}</strong> acabou de ser recebida - e muito celebrada  - pela equipe de altruístas da doebem. Esse valor será carinhosamente destinado às nossas organizações e fará a diferença de forma muito efetiva!

      p Agora você já pode dizer que #doarfazbem! Use a nossa hashtag por aí, compartilhe a sua experiência com seus amigos nas redes sociais e mostre para todos que você já faz parte da nossa linda missão de promover uma cultura de doação efetiva no Brasil.

      p Nos vemos em breve e continue fazendo a diferença!

      p Obrigado,

      p Equipe doebem

