html
  head
    meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
    //- title = "Email doebem: " + subject
    body
      h1.h1 Obrigado por sua mensagem.
      
      h3 Abaixo está uma cópia da sua mensagem:

      p #{message}

      p Iremos responde-lá o mais rápido possível.

      p Obrigado,

      p Equipe doebem

      //- Siga a doebem nas redes sociais
