div#pagOng {
    div#pageHeader {
        h2 {
          color: white;
          font-size: 70px;
        }
        background-repeat: no-repeat;
        background-size: cover;
        width:100%;
        height: 100%;
        min-height: 100vh;
        background-position: top center;
    }

    div#infos {

      //  div img#princ{
      //     width: 600px;
      //     height: 400px;
      //  }
    }

    .container {
      padding-top: 20px;
      padding-bottom: 20px;
      padding-right: 10px;
      padding-left: 10px;
      background-color: #fafafa;
    }
    
    div#smallInfo {
      width: 250px;
      img {
        // width: 230px;
        // height: 200px;

        // @media (min)
      }

      

      .md-button {
          width: 200px;
          height: 45px;
          background-color: rgb(63,81,181);
          color: white;
          font-size: 18px;
          font-weight: 700;
          margin-top: 15px;
          margin-left: 20px;
      }



      button:hover {
            background-color: white;
            color: rgb(63,81,181);
            border-color: rgb(63,81,181);
            border-style: solid;
            border-width: 1px;
      }

    }

    div#mainListOngs {
      padding-top: 2%;

      div#lista{
        text-align: left;
        h3 {
          text-align: left;
          font-size: 30px;
        }
      }
    }

  button {
      background-color:  rgb(63,81,181);
      color: white;
      border-color: rgb(63,81,181) !important;
      border-style: solid;
      border-width: 1px;
      margin-left: 0px;
  }

  button:hover {
      background-color: white !important;
      color: rgb(63,81,181) !important;
      border-color: rgb(63,81,181) !important;
      border-style: solid;
      border-width: 1px;
  }

  

  @media screen and (max-width: 726px) {
    div#pageHeader {
      h2 {
        font-size: 55px;
      }
    }

    div p#anaCompl {
      font-size: 18px;
    }

    div h2#resumo {
      font-size: 28px;
    }

  }
}


