body {
  background-color: #fafafa !important;
}

div#pagOng {

  div#pageHeader {
    
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    height: 100%;
    min-height: 65vh;
    background-position: top center;
    position: relative;

    md-icon {
      width: 125px;
      height: 125px;
      margin: 0 0 0 0;
    }

    h2 {
      color: white;
      font-size: 70px;
    }

    iframe {
      z-index: -999999;
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
    }


  }

  // não excluir para quando tiver a parte de informações da organização
  // 
  // div#infos {

    //  div img#princ{
    //     width: 600px;
    //     height: 400px;
    //  }
  // }

  .container {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 10px;
    padding-left: 10px;
    background-color: #fafafa;
  }
  
  div#smallInfo {
    width: 250px;
    img {
      // width: 230px;
      // height: 200px;

      // @media (min)
    }

    

    .md-button {
        width: 200px;
        height: 45px;
        background-color: rgb(63,81,181);
        color: white;
        font-size: 18px;
        font-weight: 700;
        margin-top: 15px;
        margin-left: 20px;
    }



    button:hover {
          background-color: white;
          color: rgb(63,81,181);
          border-color: rgb(63,81,181);
          border-style: solid;
          border-width: 1px;
    }

  }

  div#lista{
    text-align: left;

    form#pagar {
      select#valor {
        width: 130px !important;
        font-size: 23px !important;
      }
    }

    div#site {
      h4 {
        margin-top: 0px;
        margin-right: 5px;
        font-size: 20px;
      }

      a {
        p#site {
          font-size: 18px;
        }
      }
    }

    div#pagarme {
      width: 100px;
      height: 100px;
    }

    h3 {
      text-align: left;
      font-size: 30px;
    }

    h3#duvida{
      text-align: center;
      font-size: 26px;      
    }

    div#sources {

      height: 20px;

      p {
        font-size: 14px;
        margin: 0;
      }

      ul {
        margin: 0;
      }
    }

  }

  button {
      background-color:  rgb(63,81,181);
      color: white;
      border-color: rgb(63,81,181) !important;
      border-style: solid;
      border-width: 1px;
      margin-left: 0px;
      font-size: 30px;
      width: 130px;
      height: 50px;
  }

  button:hover {
      background-color: white !important;
      color: rgb(63,81,181) !important;
      border-color: rgb(63,81,181) !important;
      border-style: solid;
      border-width: 1px;
  }

  .md-button#video {
    background-color: black;
    color: white;
    border-radius: 50px;

  }

  @media screen and (max-width: 726px) {
    div#pageHeader {
      h2 {
        font-size: 55px;
      }
    }

    div p#anaCompl {
      font-size: 18px;
    }

    div h2#resumo {
      font-size: 28px;
    }

  }
}

input#nav {
  font-family: "Open Sans Condensed";
  border-radius: 6px;
  width: 80px;
  border-color: black;
  text-align: center;
}

p#secu {
  font-size: 18px;
  margin-bottom: 0px;
  margin-left: 5px;
}

div#pagOng div#lista div#sources p {
    font-size: 16px;
}

h2#donation {
  text-align: center;
  font-size: 26px;
  font-weight: 700;
  color: white;
}

div.md-toolbar-tools {
  text-align: center;
}

h4 {
  font-size: 20px;
}