div.animated.fadeIn#pagOng
  div#pageHeader(flex="100"  layout="column" layout-align="center center" ng-style="{'background-image': 'url(' + $ctrl.infoOng.backgroundImage + ')'}")
    h2 {{$ctrl.infoOng.nomeFantasia}}
  .container
    div#infos(layout="row" flex="100" flexwrap)
      div(flex="80" layout-align="left")
        img#princ(ng-src="https://s3-sa-east-1.amazonaws.com/doebem/educacao-gauss.jpg")
      div#smallInfo(layout-align="center center")
        img(ng-src="{{$ctrl.infoOng.logo}}" layout-align="center center")
        h4 Causa: {{$ctrl.infoOng.causaFrontEnd}}
        h4 Ano de fundação: {{$ctrl.infoOng.anoFundacao}}
        h4 Atua em: {{$ctrl.infoOng.localidadesDeAtuacao[0].localidade}}
          md-button.md-primary(flex layout-align="center") Doar
    md-content(layout="column" flex="100")
      md-content#lista(flex = "100" layout="column" layout-align="left")
        h2 Sobre
        p(ng-bind-html='$ctrl.infoOng.sobre')  
        h2 Resumo - Análise Doebem
        h3 Gestão
        p(ng-bind-html='$ctrl.infoOng.analiseGestao')
        h3 Transparência
        p(ng-bind-html='$ctrl.infoOng.analiseTransparencia')
        h3 Impacto
        p(ng-bind-html='$ctrl.infoOng.analiseImpacto')
        a(ng-href="{{$ctrl.infoOng.linkPdf}}" target="_blank") 
         p Confira aqui o arquivo com nossa análise completa.
contact-form
