div#pagOng
  div#pageHeader(flex="100"  layout="column" layout-align="center center" ng-style="{'background-image': 'url({{$ongForm.backgroundImage}})'}")
    h2 {{ongForm.nomeFantasia}}
  .container
    div#infos(layout="row" flex="100")

      div#smallInfo(flex layout-align="center center")
        img(ng-src="{{ongForm.logo}}")
        h4 Causa: {{ongForm.causa}}
        h4 Ano de fundação: {{ongForm.anoFundacao}}
        h4 Atua em: {{ongForm.localidadesDeAtuacao}}
    md-content(layout="column" flex="100")
      md-content#lista(flex = "100" layout="column" layout-align="left")
        h2 Sobre
        p {{ongForm.sobre}}
        h2 Resumo - Análise Doebem
        h3 Gestão
        p {{ongForm.analiseGestao}}
        h3 Transparência
        p {{ongForm.analiseTransparencia}}
        h3 Impacto
        p {{ongForm.analiseImpacto}}
        a(href="") Confira aqui o arquivo com nossa análise completa.
contact-form

      //- div#carousel(flex="80" layout-align="left")
      //-   jk-carousel(
      //-         flex="100"
      //-         data="$ctrl.carouselImages"
      //-         item-template-url="'img.tmpl.pug'"
      //-         max-width="300"
      //-         max-height="300"
      //-         auto-slide="true"
      //-         auto-slide-time="3000")
      //- div#smallInfo(flex layout-align="center center")