div.animated.fadeIn#pagOng
  div#pageHeader(flex="100"  layout="column" layout-align="center center" ng-style="{'background-image': 'url(' + $ctrl.infoOng.backgroundImage + ')'}")
    h2 {{$ctrl.infoOng.nomeFantasia}}
  div.container
    div#infos(layout="row" layout-sm="column" layout-xs="column")
      div(flex="80" layout-align="start")
        img#princ(ng-src="")      
      div#smallInfo(layout="column" layout-align="start start")
        checkout-form
    div(layout="column")
      div#lista( layout="column" layout-align="left")
        h2 Sobre
        p(ng-bind-html='$ctrl.infoOng.sobre')
        h2#resumo Resumo - Análise doebem
        h3 Gestão
        p(ng-bind-html='$ctrl.infoOng.analiseGestao')
        h3 Transparência
        p(ng-bind-html='$ctrl.infoOng.analiseTransparencia')
        h3 Impacto
        p(ng-bind-html='$ctrl.infoOng.analiseImpacto')
        a(ng-href="{{$ctrl.infoOng.linkPdf}}" target="_blank")
         p#anaCompl Confira aqui o arquivo com nossa análise completa.
      a(layout-align="center center" target="_blank" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=KP2DX7FKJUWFL")
        md-button.md-raized.md-primary(type="submit") Doar
contact-form

      //- div#smallInfo(layout="column" layout-align="start start")
      //-   img(ng-src="{{$ctrl.infoOng.logo}}" layout-align="center center" layout-align-sm = "center start" layout-align-xs = "center start")
      //-   h4(layout-align-sm = "center end" layout-align-xs = "center end") Causa: {{$ctrl.infoOng.causaFrontEnd}}
      //-   h4(layout-align-sm = "center end" layout-align-xs = "center end") Ano de fundação: {{$ctrl.infoOng.anoFundacao}}
      //-   h4(layout-align-sm = "end center" layout-align-xs = "end center") Atua em: {{$ctrl.infoOng.localidadesDeAtuacao[0].localidade}}
      //-   md-button.md-primary(flex layout-align="center center" layout-align-sm = "end center" layout-align-xs = "end center") Doar