div.animated.fadeIn#transparencia
  div#pageHeader(flex="100"  layout="column" layout-align="center center")
    h2 Transparência
  div#comoFunciona(flex="100" layout="column" layout-align="center center")
    p A transparência é um de nossos principais valores. 
    //- p#last Assim, compartilharemos aqui os nossos documentos, relatórios, planos e erros.
    p#last Assim, compartilharemos aqui os nossos documentos, relatórios, erros e aprendizados.
    br
    h2  Doações para Organizações
    //- h2  Doações para Organizações / Transferência de Doações
    br
    table
      tr
        th Organização
        th Total transferido
        th Comprovantes Transferências
      tr#orgs(ng-repeat="transf in $ctrl.transf")
        td {{ transf.org_name }}
        td {{ transf.total }}
        td
          a(href="{{ transf.transf_link }}" target="_blank") {{transf.transf_nome}}
      tr#last
        td#total Total
        td R$ 4.343,71 
        td 
    br
    h2 Finanças da doebem
    br
    iframe(src="https://docs.google.com/spreadsheets/d/e/2PACX-1vTGTAex1dhHB022XnmxSGzoH0Kpdw8tuWaCxQf4c0D0DP7niLQ7OTCLT2uoI7Z_PPMMlJUM-bnM15zR/pubhtml?gid=679384296&amp;single=true&amp;widget=true&amp;headers=true" width="1060px" height="530px")
    br          
    h2 Erros e Aprendizados
    br
    table
      tr
        th Ano
        th Erros e Aprendizados
      tr(ng-repeat="learning in $ctrl.learnings")
        td {{ learning.date }}
        td 
          a(href="{{ learning.link }}" target="_blank") {{ learning.name }}
    h2 Documentos da doebem
    br
    div(layout-gt-sm="row" layout="row")
      a(href="../assets/transparencia/documentos/estatuto_doebem.pdf" target="_blank")
        md-button.md-raized.md-primary Estatuto
      a(href="../assets/transparencia/documentos/CNPJ.pdf" target="_blank")
        md-button.md-raized.md-primary CNPJ
    h2 Contratos de Parceira
    br
    div(layout-gt-sm="row" layout="column")
      a(href="../assets/transparencia/contratos/Termo_Saude_Criança_doebem.pdf" target="_blank")
        md-button.md-raized.md-primary Saúde Criança
      a(href="../assets/transparencia/contratos/Termo_Renovatio_doebem.pdf" target="_blank")
        md-button.md-raized.md-primary Renovatio
      a(href="../assets/transparencia/contratos/Termo_Caviver_doebem.pdf" target="_blank")
        md-button.md-raized.md-primary Caviver          
contact-form
