div.animated.fadeIn#transparencia
  div#pageHeader(flex="100"  layout="column" layout-align="center center")
    h2 Transparência
  div#comoFunciona(flex = "100" layout="column" layout-align="center center")
    p A extrema transparência é um de nossos principais valores, assim pretendemos compartilhar aqui todos os nossos documentos, relatórios, planos e erros. Além disso você pode conferir nosso blog para mais informações. 
    h2 Finanças
    br
    table
      tr
        th Ano
        th Demonstração de Resultado
        th Balanço Patrimonial
      tr(ng-repeat="year in $ctrl.financials")
        td {{ year.date }}
        td 
          a(href="{{ year.dre_link }}" target="_blank") {{ year.dre_name }}
        td 
          a(href="{{ year.balanco_link }}" target="_blank") {{year.balanco_name}}
    h2 Planos
    br
    table
      tr
        th Ano
        th Metas
        th Métricas
      tr(ng-repeat="plan in $ctrl.plans")
        td {{ plan.date }}
        td 
          a(href="{{ plan.goals_link }}" target="_blank") {{ plan.goals_name }}
        td 
          a(href="{{ plan.metrics_link }}" target="_blank") {{plan.metrics_name}}
    h2 Falha Nossa
    br
    a(href="")
      h4 Clique aqui para ver nossos erros e ações de correção.
    h2 Documentos
    br
    a(href="")
      md-button.md-raized.md-primary Estatuto

      



    
contact-form