div#transparencia {
  div#pageHeader {
    background-image: url('/assets/images/transparencia/transparencia.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    min-height: 80vh;
    background-position: top center;
    h2 {
      color: white;
      font-size: 70px;
    }
  }

  @media screen and (max-width: 726px) {
    div#pageHeader {
      h2 {
        font-size: 58px;
      }
    }
  }

  div#comoFunciona {
      // text-align: center;
      padding-right:5%;
      padding-left: 5%;
      padding-top: 5%;
      height: 100%;
      width: 100%;
      display: block;
      padding-bottom: 70px;
      background-color: #fafafa;
     
      // ajustes das tabelas
      th {
        padding-left: 10px;
        padding-right: 10px;
        font-size: 20px;
        border-bottom: 2px solid black;
        text-align: center;
        
        border-right: 1px solid black; 
        border-left: 1px solid black;
      }
      
      th:first-child {
        padding-left: 0px;
        border-left: none;
      }

      th:last-child {
        border-right: none;
      }
      
      td {
        padding-left: 10px;
        padding-right: 10px;
        font-size: 16px;
        border-right: 1px solid black; 
        border-left: 1px solid black;
      }

      td:first-child {
        padding-left: 0px;
        padding-right: 10px;
        border-left: none;
      }

      td:last-child {
        border-right: none;
      }

      p {
        text-align: center;
      }
      
      p#last {
        padding-bottom: 30px;
        text-align: center;
      }
      
      h2 {
        text-align: left;
        margin-bottom: 0px;
      }

      a h4 {
        text-align: left;
        margin-top: 0px;
      }

      .md-button {
        float: none;
        position: absolute;
        text-align: center;
        align-items: left;
        display: inline-block;
        font-size: 20px;
        background-color: white;
        font-weight: 500;
        border: 1px solid rgb(63,81,181);        
      }
      
      button {
          margin-left: 0px;
      }

      div#CNPJ {
        margin-left: 100px;
      }
  }
}
