div.animated.fadeIn#transparencia
  div#pageHeader(flex="100"  layout="column" layout-align="center center")
    h2 Transparência
  div#comoFunciona(flex = "100" layout="column" layout-align="center center")
    p A transparência é um de nossos principais valores. 
    p#last Assim, compartilharemos aqui os nossos documentos, relatórios, planos e erros.
    h2 Finanças
    br
    table
      tr
        th Ano
        th Demonstração de Resultado
        th Balanço Patrimonial
      tr(ng-repeat="year in $ctrl.financials")
        td {{ year.date }}
        td 
          a(href="{{ year.dre_link }}" target="_blank") {{ year.dre_name }}
        td 
          a(href="{{ year.balanco_link }}" target="_blank") {{year.balanco_name}}
    h2 Planos
    br
    table
      tr
        th Ano
        th Metas
        //- th Indicadores
      tr(ng-repeat="plan in $ctrl.plans")
        td {{ plan.date }}
        td 
          a(href="{{ plan.goals_link }}" target="_blank") {{ plan.goals_name }}
        //- td 
        //-   a(href="{{ plan.metrics_link }}" target="_blank") {{plan.metrics_name}}
    h2 Erros e Aprendizados
    br
    table
      tr
        th Ano
        th Erros e Aprendizados
      tr(ng-repeat="learning in $ctrl.learnings")
        td {{ learning.date }}
        td 
          a(href="{{ learning.link }}" target="_blank") {{ learning.name }}
    h2 Documentos
    br
    div(layout-gt-sm ="row" layout = "row")
      div#Estatuto(layout="column")
        a(href="https://s3-sa-east-1.amazonaws.com/doebem/Legal/AGC+%2B+estatuto+arquivados+RCPJ_site.pdf"  target="_blank")
          md-button.md-raized.md-primary Estatuto
      div#CNPJ(layout="column")
        a(href="https://drive.google.com/a/doebem.org.br/file/d/0B3sdXeGKoeXlZEtfWkQxZW8xam8/view?usp=sharing"  target="_blank")
          md-button.md-raized.md-primary CNPJ
contact-form
