div.animated.fadeIn#transparencia
  div#pageHeader(flex="100"  layout="column" layout-align="center center")
    h2 Transparência
  div#comoFunciona(flex = "100" layout="column" layout-align="center center")
    p A extrema transparência é um de nossos principais valores, assim pretendemos compartilhar aqui todos os documentos e 
    md-list#actions(flex = "100" layout-gt-sm ="row" layout="column" layout-align="center center")
      md-list-item(ng-repeat="step in $ctrl.stepCriterios") 
          div#escolha(flex layout = "column" layout-align="center center")
            span.fa-stack.fa-5x
              i.fa.fa-circle.fa-stack-2x.text-primary
              i#icon.fa.fa-stack-1x(ng-class="step.icon")
            h2 {{step.title}}
            p {{step.desc}}
contact-form