footer.footer {
  text-align: center;
  padding: 30px 0;
  margin-top: 70px;
  border-top: 1px solid #E5E5E5;
  flex-basis: 50%;
}

div#footer{
  flex-basis: 50%;
  div#center{
    background-color: black;
  }
}
