.container(flex="100")
  div#footer(flex="100" layout = "column" layout-gt-sm="row" layout-align= "center center")
    div#left(flex = "30" layout-align: "center center")
      p CopyRight &#169; doebem 2017   |   CNPJ: 27.129.904/0001-78
    div#center(flex="40" layout="row" layout-align= "center center")
      a(target='_blank' href='https://twitter.com/doebem')
        md-button.md-icon-button(aria-label="Twitter link")
          i.fa.fa-twitter
      a(target='_blank' href='https://www.linkedin.com/company-beta/16220818/')
        md-button.md-icon-button(aria-label="LinkedIn link")
          i.fa.fa-linkedin
      a(target='_blank' href='https://www.facebook.com/plataformadoebem/' )
        md-button.md-icon-button(aria-label="Facebook link")
          i.fa.fa-facebook
    div#Right(flex ="30" layout-align= "center center")
      a(target='_blank' href="https://drive.google.com/file/d/0B3sdXeGKoeXlWGZaR080NS1PV3c/view?usp=sharing") Termos de Uso
      a#pol(target='_blank' href="https://drive.google.com/file/d/0B3sdXeGKoeXlVTZtbXNzd2N0T2s/view?usp=sharing") Política de Privacidade