footer.footer {
  text-align: center;
  padding: 30px 0;
  margin-top: 70px;
}

div#footer {
  @media (max-width: 960px) {
    display: block;
  }
  p {
    font-size: 14px;
  }
  text-align: center;
  padding: 20px 0;
  margin-top: 0px;
  div#center {
    button {
      text-align: center;
      font-size: 22px;
      background-color: black;
      i {
        color: white;
      }
    }
  }
  div#Right {
    a:hover {
      cursor: pointer;
    }
    a#pol {
      padding-left: 40px;
    }

    @media (max-width: 960px) {
      display: block;
      margin-top: 10px;
    }


  }
}

