a.btn.btn-social.btn-facebook(ng-class='classes'
  ng-click='OauthButtons.loginOauth("facebook")')
  i.fa.fa-facebook
  |  Connect with Facebook

a.btn.btn-social.btn-google(ng-class='classes'
  ng-click='OauthButtons.loginOauth("google")')
  i.fa.fa-google-plus
  |  Connect with Google+

a.btn.btn-social.btn-twitter(ng-class='classes'
  ng-click='OauthButtons.loginOauth("twitter")')
  i.fa.fa-twitter
  |  Connect with Twitter
