 md-content#contactForm {
      color: white;
      background-image: url("/assets/images/map-image.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-color: #7e7e7e;
      background-position: top center;
    }