div#contactForm(layout="column" layout-align="center center")
  .container
    h2.sectionHeading Contato
    div(layout="column" flex="100")
      form(name="contactForm" layout="column"  ng-submit="$ctrl.sendEmail(contactForm, $event)")
        div(layout="column" layout-gt-sm="row" flex="100" )
          div#info(layout="column" flex="100")
            md-input-container.md-block(flex-gt-sm)
              label Nome
              input(ng-model="contactForm.Name" required)
              div(ng-messages="contactForm.Name.$error" role="alert")
                div(ng-message-exp="['required']")
                  span Esse é um campo obrigatório, por favor escreva seu nome.
            md-input-container.md-block
              label Email
              input(type="email" ng-model="contactForm.Email" requiredminlength="5" maxlength="100" ng-pattern="/^.+@.+\..+$/" required)
              div(ng-messages="contactForm.clientEmail.$error" role="alert")
                div(ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']")
                  span Esse é um campo obrigatório, por favor escreva seu email.
            md-input-container.md-block
              label Telefone
              input(ng-model="contactForm.Telefone")      
          div#msg(layout="column" flex="100")
            md-input-container.md-block(flex-gt-sm)
              label Mensagem
              textarea(ng-model="contactForm.Mensagem" columns="1" required)   
              div(ng-messages="contactForm.Mensagem.$error" role="alert")
                div(ng-message-exp="['required']")
                  span Esse é um campo obrigatório, por favor escreva sua mensagem.
        div(flex="10" layout="column" layout-align="center center")      
          md-button.md-raized.md-primary(type="submit") Enviar 

script(type="text/ng-template" id="dialogEmailSend.tmpl.pug")
  md-dialog(aria-label="emailSend")
    form(ng-cloak)
      md-toolbar
        div.md-toolbar-tools
          h2 Email Enviado!
          span(flex)
          md-button.md-icon-button(aria-label="md-button ok", ng-click="cancel()")
            md-icon
              ng-md-icon.name(icon="close" style="fill: white")
      md-dialog-content
        div.md-dialog-content
          h2 {{$ctrl.name}}, obrigado pela sua mensagem! 
      md-dialog-actions(layout="row")
        span(flex)
        md-button(ng-click="cancel()") Ok         