div#contactForm {
   color: white;
   background-image: url("/assets/images/map-image.png");
   background-repeat: no-repeat;
   background-size: cover;
   background-color: #7e7e7e;
   background-position: top center;
   
   .container {
     padding-bottom: 20px;

     h2 {
       font-size: 50px;
       padding-top: 3%;
       padding-bottom: 3%;
       text-align: center;
     }
     div.layout-column {
     
       form {
         display: block;
        }
     }

     form>div {
        @media (max-width:960px) {
          display: block;
        }
       
       div {
         
         padding-right: 2%;
         background-color: transparent;
         md-input-container {
           border-radius: 5px;
           background-color: white;
           color: black;

           label { 
              opacity: 1;
              color: black;
              font-size: 16px;           
           }

           input{
              opacity: 1;
              color: black;
           }
        
         }
       }
     }
     div[layout-align^="center"] {
        text-align: center;
     }
     .md-button{
        font-size: 25px;
        background-color: white;
        font-weight: 500;
     }
     
    }
}
