div.animated.fadeIn#sobre
  div#pageHeader(flex="100"  layout="column" layout-align="center center")
    h2 Sobre nós.
  md-content#mainSobre(layout="column" flex="100")
    .container
      div.credo(layout="row" flex="100")
        div#item(flex="30")
          h3 O que acreditamos.
        div#desc(flex)
          p Existem muitas oportunidades para doarmos para ONGs que realizam trabalho voluntário, porém é muito difícil confiar que nosso dinheiro está sendo aplicado da maneira mais eficaz e que irá realmente produzir resultados.
          p É esse o problema que queremos resolver. Acreditamos em doar com o coração e a mente.
          br
      div.credo(layout="row" flex="100")
        div#item(flex="30")
          h3 Como atuamos.
        div#desc(flex)
          p Realizamos pesquisas e análises baseadas em metodologias comprovadas para verificar a atuação de organizações não governamentais. Além disso, por meio de nosso site, coletamos recursos financeiros para as organizações que indicamos e não cobramos nada por isso.
          br
      div.credo(layout="row" flex="100")
        div#item(flex="30")
          h3 Missão.
        div#desc(flex)
          p O time da DoeBem possui uma missão: impactar de forma positiva a realidade na qual vivem, de forma eficiente e baseada em fatos e dados.
  div#Time(layout="column"  flex="100" layout-align="center center")
    h1 Time
    md-list(flex="100" layout-wrap layout="column" layout-gt-sm="row" layout-align="space-around center")
      md-list-item(ng-repeat="pessoa in $ctrl.listaPessoas")
        md-card(layout="column" flex-gt-sm="100")
          img.md-card-image(ng-src="{{pessoa.img}}")
          md-card-title(layout="column")
            md-card-title-text(flex="100" layout="column" layout-align="center center")
              h3 {{pessoa.nome}}
          md-card-actions(layout="row" layout-align="center center")
            a(target='_blank' href='{{pessoa.twitter}}')
              md-button.md-icon-button(aria-label="twitter button")
                i.fa.fa-twitter
            a(target='_blank' href='{{pessoa.linkedin}}')
              md-button.md-icon-button(aria-label="linkedin button")
                i.fa.fa-linkedin
  md-content#Conselho(layout="column"  flex="100" layout-align="center center")
    h1 Conselho
    md-list(flex layout-gt-sm="row" layout="column")
      md-list-item(ng-repeat="conselheiro in $ctrl.listaConselheiros")
        md-card(layout="column")
          img(ng-src="{{conselheiro.img}}")
          md-card-title(layout="column")
            md-card-title-text(layout = "column" layout-align="center center")
              h3 {{conselheiro.nome}}
          md-card-actions(layout = "row" layout-align="center center")
            a(target='_blank' href='{{conselheiro.twitter}}')
              md-button.md-icon-button(aria-label="twitter button")
                i.fa.fa-twitter
            a(target='_blank' href='{{conselheiro.linkedin}}')
              md-button.md-icon-button(aria-label="linkedin button")
                i.fa.fa-linkedin                                   
contact-form