div.animated.fadeIn#sobre
  div#pageHeader(flex="100"  layout="column" layout-align="center center")
    h2 Sobre
  div#comoFunciona(flex="100" layout="column" layout-align="center center")
    h2.sectionHeading Conheça a doebem
    p#comoFunciona A doebem conecta doadores e organizações sem fins lucrativos efetivas.
    br
    p A ideia da doebem nasceu no meio de 2016 quando seus fundadores se conheceram em um curso de empreendedorismo na Califórnia. 
    p Eles tinham pelo menos duas coisas em comum: a vontade de promover impacto positivo no Brasil e a noção de que 
    p isso deveria ser feito de forma diferente. Inspirados no movimento <a href="https://altruismoeficaz.com.br/" target="_blank"> <span> Altruísmo Eficaz</span></a>, decidiram trazer para o seu país o 
    p conceito de que decisões de como ajudar devem ser embasadas em evidências claras de impacto e estudos científicos.
    md-list#actions(flex="100" layout-gt-sm ="row" layout="column" layout-align="center center")
      md-list-item(ng-repeat="step in $ctrl.stepOptions")
          div(layout = "column" layout-align="center center")
            img(src="{{step.icon}}")
            h2 {{step.title}}
            p {{step.desc}}
  br 
  br
  div#Time(layout="column" flex="100" layout-align="center center")
    h1 Time
    md-list(flex="100" layout-wrap layout="column" layout-gt-sm="row" layout-align="space-around center")
      md-list-item(ng-repeat="pessoa in $ctrl.listaPessoas")
        md-card(layout="column" flex-gt-sm="100")
          img(flex="100" layout-align="center center" ng-src="{{pessoa.img}}")
          md-card-title(layout="column")
            md-card-title-text(flex="100" layout="row" layout-align="center center")
              h3 {{pessoa.nome}}
            md-card-title-text(flex="100" layout="row" layout-align="center center")
              h4 {{pessoa.email}}
            md-card-title-text(flex="100" layout="row" layout-align="center center")
              h4 {{pessoa.area}}
            md-card-title-text(flex="100" layout="row" layout-align="center center")
              p(layout-align="center center") {{pessoa.bio}}
          md-card-actions(layout="row" layout-align="center center")
            a(target='_blank' href='{{pessoa.linkedin}}'  layout-align="center center")
              md-button.md-icon-button(aria-label="linkedin button" layout-align="center center")
                i.fa.fa-linkedin
  div#Voluntarios(layout="column" flex="100" layout-align="center center")                
    h1 Voluntários
    md-list(flex="50" layout-wrap layout="column" layout-gt-sm="row" layout-align="space-around center")
      md-list-item(ng-repeat="pessoa in $ctrl.listaVoluntarios")
        md-card(layout="column" flex-gt-sm="100")
          img(flex="100" layout-align="center center" ng-src="{{pessoa.img}}")
          md-card-title(layout="column")
            md-card-title-text(flex="100" layout="row" layout-align="center center")
              h3 {{pessoa.nome}}        
  div#trabalhe(layout="column" flex="100" layout-align="center center")
    a(href="https://goo.gl/forms/fUOPM8eyfoHmmxYj2" layout="column" flex="100" 
      layout-align="center center" target='_blank')
      img(src="../../assets/images/sobre/trabalhe.png")