div#menu.navbar.navbar-default(ng-class="{mainPageMenu: $ctrl.$location.url()==='/'}")
  div#menuEntries.container
    a(ng-href='/')
      img.navbar-brand(ng-src="/assets/images/logos/logo_menor_7_transparente.png")
    button.navbar-toggle(type='button' ng-click='$ctrl.isCollapsed = !$ctrl.isCollapsed' layout-align="center center")
      div(layout="column")
        div(layout="column" layout-align="center center")
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar    
    div.navbar-collapse.collapsed.dropdown(uib-collapse='$ctrl.isCollapsed' ng-click='$ctrl.isCollapsed = !$ctrl.isCollapsed' layout-align="right right" data-toggle="collapse" data-target=".collapse.in")
      ul.nav.navbar-nav
        li.menuAnchor(ng-repeat='item in $ctrl.menu')
          a#Itens(ng-href='{{item.link}}') {{item.title}}
        //- a#Itens(target="_blank" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=RVZNP9YUS79FY")
        //- a#Itens(href="/#ongs")
        a#Itens(target="_blank" href="https://medium.com/doebem")
          md-button#blog.md-raized.md-primary Blog
        a#Itens(target="_blank" href="")
          md-button#doar_button.md-raized.md-primary(ng-click="$ctrl.showDialog()") Doar
script(type="text/ng-template" id="dialogDonateNavbar.tmpl.pug")
  md-dialog(aria-label="emailSend" ng-cloak)
    md-toolbar
      div.md-toolbar-tools
        h2 Email Enviado!
        span(flex)
        md-button.md-icon-button(aria-label="md-button ok", ng-click="cancel()")
          md-icon
            ng-md-icon.name(icon="close" style="fill: white")
    md-dialog-content
      div.md-dialog-content
        form(role="form" name = "pagarmeForm")
          md-input.md-block(layout="column")
            label Organização
            md-checkbox(type = "checkbox" ng-model="pagarmeForm.org" value = "Saúde Criança") Saúde Criança
            md-checkbox(type = "checkbox" ng-model="pagarmeForm.org" value = "Renovatio") Renovatio
          md-radio-group(layout="column" ng-model="pagarmeForm.amount")
            label Valor
            md-radio-button(ng-value="1000" aria-label="Label 1") R$ 10
            md-radio-button(ng-value="2000" aria-label="Label 2") R$ 20
            md-radio-button(ng-value="3000" aria-label="Label 2") R$ 30
            md-radio-button(ng-value="5000" aria-label="Label 2") R$ 50
            md-radio-button(ng-value="10000" aria-label="Label 2") R$ 100
            md-radio-button(ng-value="20000" aria-label="Label 2") R$ 200
          md-dialog-actions(layout="row")  
            md-button.md-raized.md-primary(ng-click="$ctrl.showForm(pagarmeForm)" type="submit") Doar
    md-dialog-actions(layout="row")
      span(flex)
      md-button(ng-click="cancel()" type="button") Ok