div#menu.navbar.navbar-default(ng-class="{mainPageMenu: $ctrl.$location.url()==='/'}")
  div#menuEntries.container
    a(ng-href='/')
      img.navbar-brand(ng-src="/assets/images/logos/logo_menor_7_transparente.png")
    button.navbar-toggle(type='button' ng-click='$ctrl.isCollapsed = !$ctrl.isCollapsed' layout-align="center center")
      div(layout="column")
        div(layout="column" layout-align="center center")
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar    
    div.navbar-collapse.collapsed.dropdown(uib-collapse='$ctrl.isCollapsed' ng-click='$ctrl.isCollapsed = !$ctrl.isCollapsed' layout-align="right right" data-toggle="collapse" data-target=".collapse.in")
      ul.nav.navbar-nav
        li.menuAnchor(ng-repeat='item in $ctrl.menu')
          a#Itens(ng-href='{{item.link}}') {{item.title}}

        a#Itens(target="_blank" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=RVZNP9YUS79FY")
          md-button#doar_button.md-raized.md-primary(type="submit") Doar

        li(ng-show='$ctrl.isAdmin()', ng-class='{active: $ctrl.isActive("/admin")}')
          a(href='/admin') Admin

      ul.nav.navbar-nav.navbar-right
        //li(ng-hide='$ctrl.isLoggedIn()', ng-class='{active: $ctrl.isActive("/signup")}')
          a(href='/signup') Sign up

        //li(ng-hide='$ctrl.isLoggedIn()', ng-class='{active: $ctrl.isActive("/login")}')
          a(href='/login') Login

        li(ng-show='$ctrl.isLoggedIn()')
          p.navbar-text Hello {{ $ctrl.getCurrentUser().name }}

        li(ng-show='$ctrl.isLoggedIn()', ng-class='{active: $ctrl.isActive("/settings")}')
          a(href='/settings')
            span.glyphicon.glyphicon-cog

        li(ng-show='$ctrl.isLoggedIn()')
          a(href='/logout') Logout
