div#menu {
  font-family: "Open Sans Condensed", "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
    border: 0px;
  background-color: black;
  height: 100px;
  font-size:18px;
  font-weight: 600;
  color: white;
  margin-bottom: 0px;
  div.container div#navbar-main {
      background-color: transparent;
      ul li a {
          background-color: transparent;
      }
  } 
}

div#menu.mainPageMenu {
    background-color: black;
     div.container div#navbar-main {
          ul li a {
              color: white;
          }
     }
}

.navbar-header {
    float: left;
    padding: 5px;
    text-align: center;
    width: 100%;
}

img.navbar-brand {
    padding: 0 0 0 0;
    width: 145px;
    height: 35px;
    float: none;
}

div#navbar-main.navbar-collapse.collapse {
    height: 70px;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

.navbar-default .navbar-nav>li>a {
    color:white;
}

.menuAnchor:hover {
    cursor:pointer;
}