div#menu {
  font-family: "Open Sans Condensed", "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  border: 0px;
  background-color: white;
  height: 60px;
  font-size: 18px;
  font-weight: 500;
  color: black;
  margin-bottom: 0px;
  padding-top: 5px;
  
  div.container div#navbar-main {
      background-color: transparent;
      ul li a {
          background-color: transparent;
      }
  }

  div#menuEntries {
    text-align: center;
    margin: 0px auto;
  }
}

.md-primary#doar_button {
    background-color: white;
    border: black;
    border-style: solid;
    border-width: 2px;
    border-radius: 4px;
    font-size:18px !important;
    font-weight: 500;
}

.md-primary#doar_button:hover{
    background-color: white !important;
}

button.navbar-toggle {
    text-align: center;
    margin: 0 0 0 0;    
    padding: 3px 5px 6px 5px;
    border: none;
}

div#menu.mainPageMenu {
    background-color: white;
     div.container div#navbar-main {
          ul li a {
              color: black;
          }
     }
}

.navbar-header {
    float: none;
    padding: 5px;
    text-align: center;
    width: 100%;
}

img.navbar-brand {
    padding: 0 0 0 0;
    width: 170px;
    height: 40px;
    text-align: left;
    float: left;
    margin-top: 5px;
}

.navbar-brand {
    float: none;
}

div#navbar-main.navbar-collapse.collapse {
    width: 100%;
    max-height: none !important;
    text-align: right !important;
}

.dropdown {
    text-align: right !important;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

.navbar-default .navbar-nav>li>a {
    color:black;
}

.menuAnchor:hover {
    cursor:pointer;
}

@media (min-width: 768px) {
    .navbar-default .navbar-collapse {
        margin-left: 145px;
        transition: none !important;
    }
}

// style for Tablets and Phones
@media screen and (max-width: 768px) {
    div#menuEntries {
        padding: 0 0 0 0;
        margin-left: 0px;

        button.navbar-default .navbar-toggle .navbar-toggle:hover .navbar-toggle:focus {
            background-color: none !important;
            border-color: none !important;
        }
    }

    div#menu {
        height: 45px;
    }

    div.navbar-header {
        float: left;
        padding-left: 0px !important;
    }

    div#nav.container {
        float: left;
        width: 150px !important;
    }

    .navbar-default .navbar-toggle .icon-bar {
        background-color: black;
        width: 30px;
        height: 3px;
    }

    a#Itens {
        padding-left: 0px;
        padding-right: 30px;
    }

    button.navbar-toggle {
        float: right;        
        margin-top: 12px;
        margin-right: 15px;
        border: none;
    }

    .navbar-default .navbar-toggle {
        border-color: transparent;
        background-color: transparent !important;
    }

    .navbar-header {
        width: 320px;
        float: left;
    }

    div.navbar-header {
        margin-right: 0px !important;
        margin-left: 0px !important;
        width: 100%;
        padding-right: 0px;
        padding-left: 18px;
    }

    .navbar-collapse {
        border-top: none;
        z-index: 20;
        height: 270px;
        width: 100%;
        background-color: white;
        margin: 0 0 0 0 !important;
        padding: 0 0 0 0;
    }

    .dropdown {
        text-align: center !important;
    }
}