div.animated.fadeIn#duvidas
  div#pageHeader(flex="100"  layout="column" layout-align="center center")
    h2 Dúvidas
  div#comoFunciona
    .accordion.panel-group
      h3.faqHeader General questions
      .panel.panel-default
        .panel-heading
          h4.panel-title
            a.accordion-toggle(data-toggle='collapse', data-parent='#accordion', href='#collapseOne') Is account registration required?
        .panel-collapse.collapse.in
          .panel-body
            | Não
      .panel.panel-default
        .panel-heading
          h4.panel-title
            a.accordion-toggle.collapsed(data-toggle='collapse', data-parent='#accordion', data-target='#collapseTen', href='') Can I submit my own Bootstrap templates or themes?
        #collapseTen.panel-collapse.collapse
          .panel-body
            | A lot of the content of the site has been submitted by the community. Whether it is a commercial element/template/theme
            | or a free one, you are encouraged to contribute. All credits are published along with the resources.
      .panel.panel-default
        .panel-heading
          h4.panel-title
            a.accordion-toggle.collapsed(data-toggle='collapse', data-parent='#accordion', href='#collapseEleven') What is the currency used for all transactions?
        #collapseEleven.panel-collapse.collapse
          .panel-body
            | All prices for themes, templates and other items, including each seller's or buyer's account balance are in 
            strong USD
      h3.faqHeader Sellers
      .panel.panel-default
        .panel-heading
          h4.panel-title
            a.accordion-toggle.collapsed(data-toggle='collapse', data-parent='#accordion', href='#collapseTwo') Who cen sell items?
        #collapseTwo.panel-collapse.collapse
          .panel-body
            | Any registed user, who presents a work, which is genuine and appealing, can post it on 
            strong PrepBootstrap
            | .
      .panel.panel-default
        .panel-heading
          h4.panel-title
            a.accordion-toggle.collapsed(data-toggle='collapse', data-parent='#accordion', href='#collapseThree') I want to sell my items - what are the steps?
        #collapseThree.panel-collapse.collapse
          .panel-body
            | The steps involved in this process are really simple. All you need to do is:
            ul
              li Register an account
              li Activate your account
              li
                | Go to the 
                strong Themes
                |  section and upload your theme
              li The next step is the approval step, which usually takes about 72 hours.
      .panel.panel-default
        .panel-heading
          h4.panel-title
            a.accordion-toggle.collapsed(data-toggle='collapse', data-parent='#accordion', href='#collapseFive') How much do I get from each sale?
        #collapseFive.panel-collapse.collapse
          .panel-body
            | Here, at 
            strong PrepBootstrap
            | , we offer a great, 70% rate for each seller, regardless of any restrictions, such as volume, date of entry, etc.
            br
      .panel.panel-default
        .panel-heading
          h4.panel-title
            a.accordion-toggle.collapsed(data-toggle='collapse', data-parent='#accordion', href='#collapseSix') Why sell my items here?
        #collapseSix.panel-collapse.collapse
          .panel-body
            | There are a number of reasons why you should join us:
            ul
              li A great 70% flat rate for your items.
              li
                | Fast response/approval times. Many sites take weeks to process a theme or template. And if it gets rejected, there is another iteration. We have aliminated this, and made the process very fast. It only takes up to 72 hours for a template/theme to get reviewed.
              li
                | We are not an exclusive marketplace. This means that you can sell your items on 
                strong PrepBootstrap
                | , as well as on any other marketplate, and thus increase your earning potential.
      .panel.panel-default
        .panel-heading
          h4.panel-title
            a.accordion-toggle.collapsed(data-toggle='collapse', data-parent='#accordion', href='#collapseEight') What are the payment options?
        #collapseEight.panel-collapse.collapse
          .panel-body
            | The best way to transfer funds is via Paypal. This secure platform ensures timely payments and a secure environment.
      .panel.panel-default
        .panel-heading
          h4.panel-title
            a.accordion-toggle.collapsed(data-toggle='collapse', data-parent='#accordion', href='#collapseNine') When do I get paid?
        #collapseNine.panel-collapse.collapse
          .panel-body
            | Our standard payment plan provides for monthly payments. At the end of each month, all accumulated funds are transfered to your account.
            | The minimum amount of your balance should be at least 70 USD.
      h3.faqHeader Buyers
      .panel.panel-default
        .panel-heading
          h4.panel-title
            a.accordion-toggle.collapsed(data-toggle='collapse', data-parent='#accordion', href='#collapseFour') I want to buy a theme - what are the steps?
        #collapseFour.panel-collapse.collapse
          .panel-body
            | Buying a theme on 
            strong PrepBootstrap
            |  is really simple. Each theme has a live preview. 
            |                     Once you have selected a theme or template, which is to your liking, you can quickly and securely pay via Paypal.
            br
            |                     Once the transaction is complete, you gain full access to the purchased product.
      .panel.panel-default
        .panel-heading
          h4.panel-title
            a.accordion-toggle.collapsed(data-toggle='collapse', data-parent='#accordion', href='#collapseSeven') Is this the latest version of an item
        #collapseSeven.panel-collapse.collapse
          .panel-body
            | Each item in 
            strong PrepBootstrap
            |  is maintained to its latest version. This ensures its smooth operation.
contact-form