@import '../../../node_modules/angular-jk-carousel/src/assets/styles/jk-carousel.scss';
div#main {
  div#carousel {
    .radio-buttons-container {
      position: absolute;
      bottom: 0;
      margin-bottom: 20px;
      width: 100%;
      md-radio-button {
        margin: 0px 0px 0px;
        outline: none;
        .md-on {
          background-color: white;
          width: 19px;
          height: 19px;
          top: -2px;
          left: -2px;
          right: 2.55px;
          position: absolute;

        }
        .md-off {
          border-color: #ffffff;
          width: 15px;
          height: 15px;
          border-size: 1px;
        }
      }
    }
  }
  md-content#mainPage {
    .sectionHeading {
      font-size: 60px;
    }
    md-content#comoFunciona {
      text-align: center;
      height: 100%;
      width: 100%;
      background-color: white;
      md-list#actions {
        md-list-item {
          div#escolha {
            span {
              i#icon {
                color: white;
              }
            }
          }
        }
      }
    }
    md-content#causas {
      text-align: center;
      height: 100%;
      width: 100%;

    }
    md-content#metodologia {
      padding: 40px;
      min-height: 300px;
      @include respond-to(screen-sm) {
        padding: 40px;
        text-align: center;
      }
    }
    md-content#subPage {
      min-height: 250px;
      md-content#sobre {
        color: white;
        background-image: url("/assets/images/sobre/sobre.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
      }
    }
    
  }
  md-content#contato {
      color: white;
      background-image: url("/assets/images/map-image.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-color: #7e7e7e;
      background-position: top center;
    }
  
  button#envioForm {
      font-size: 20px;
      color: #7e7e7e;
      background-color: white;
      width: 50px;
      position: relative;

      text-align: center;

  }

}
