@import '../../../node_modules/angular-jk-carousel/src/assets/styles/jk-carousel.scss';
div#main {
  div#carousel {
    .radio-buttons-container {
      position: absolute;
      bottom: 0;
      margin-bottom: 20px;
      width: 100%;
      md-radio-button {
        margin: 0px 0px 0px;
        outline: none;
        .md-on {
          background-color: white;
          width: 19px;
          height: 19px;
          top: -2px;
          left: -2px;
          right: 2.55px;
          position: absolute;

        }
        .md-off {
          border-color: #ffffff;
          width: 15px;
          height: 15px;
          border-width: 1px;
        }
      }
    }
  }
  div#mainPage {
    .sectionHeading {
      font-size: 60px;
      margin-bottom: 15px;
    }
    div#comoFunciona {
      text-align: center;
      height: 100%;
      width: 100%;
      display: block;
      padding-bottom: 70px;
      background-color: white;
      md-list {
        md-list-item {
          div#escolha {
            span {
              i#icon {
                color: white;
              }
            }
          }
        }
      }
    }
    div#causas {
      text-align: center;
      height: 100%;
      width: 100%;
      padding-bottom: 70px;

    }
    
    div#metodologia {
      padding-bottom: 70px;
      min-height: 300px;
      height: 587px;
      background-color: white;
      @include respond-to(screen-sm) {
        padding: 40px;
        text-align: center;
      }
    }

    div#subPage {
      padding-bottom: 70px;
      min-height: 250px;
      div#sobre {
        color: white;
        background-image: url("/assets/images/sobre/sobre.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
        a {
           color: white;
        }
      }
    }  
  }
}
