div#newsletter(flex="100" layout="column" layout-align="center center")
  h3 Ainda não está pronto para doar? Tudo bem! 
  h3 Vamos nos conhecer?
  div(flex="100" layout="row"  layout-align="center center")
    form(name="newsletter" layout="column" flex="100" layout-align="center center" ng-submit="$ctrl.sendEmail(newsletter, $event)")
      input-container(flex-gt-sm)
        input(type="email" placeholder="Deixe seu email e fique por dentro das novidades!" ng-model="newsletter.Email" requiredminlength="5" maxlength="100" ng-pattern="/^.+@.+\..+$/" required)
        md-button#news.md-raized.md-primary(type="submit") Enviar

script(type="text/ng-template" id="dialogEmailSend.tmpl.pug")
  md-dialog(aria-label="emailSend")
    form(ng-cloak)
      md-toolbar
        div.md-toolbar-tools
          h2 Email Enviado!
          span(flex)
          md-button.md-icon-button(aria-label="md-button ok", ng-click="cancel()")
            md-icon
              ng-md-icon.name(icon="close" style="fill: white")
      md-dialog-content
        div.md-dialog-content
          h2 Obrigado por se inscrever!
      md-dialog-actions(layout="row")
        span(flex)
        md-button(ng-click="cancel()") Ok         