div.animated.fadeIn#sobre
  div#pageHeader(flex="100"  layout="column" layout-align="center center")
    h2 Muito obrigado!!
  div#comoFunciona(flex = "100" layout="column" layout-align="center center")
    h2.sectionHeading Sua doação fará a diferença!
    p#comoFunciona Muito obrigado pela sua doação.
    p Sua ajuda com certeza fará a diferença na vida das pessoas.
    p Estamos comprometidos em fazer com que mais pessoas doem mais e melhor!
    br
contact-form

    