div#ListOngs
  div#pageHeader(flex="100"  layout="column" layout-align="center center" ng-style="{'background-image': 'url({{$ctrl.pageImage}})'}")
    h2 {{$ctrl.pageTitle}}
  .container        
    md-content#mainListOngs(layout="column" flex="100")
      md-content#causas(flex = "100" layout="column" layout-align="center center")
        H2.sectionHeading Bla 
        h3 Abaixo estão as ONGs que mais se destacaram em nossos critérios de avaliação.
        md-list#listOngs(flex="100" layout-gt-sm="row" layput="column")
          md-list-item(ng-repeat="ong in $ctrl.listOng" layout="column"  layout-align="center center")
            md-card
              md-card-title
                md-card-title-text(layout-align="center center")
                  h1 {{ong.nome}} 
              img.md-card-image(ng-src="{{ong.logo}}" )
              md-card-content
                  p {{ong.desc}}
            md-action(layout = "row" layout-align="center center")
              md-button.md-raised.md-primary Apoiar