

  div#pageHeader {
    background-image: url('/assets/images/educacao/lousa_edu3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70vh;
    background-position: top center;
  }

