div#listOngs
  div#pageHeader(flex="100"  layout="column" layout-align="center center" ng-style="{'background-image': 'url({{$ctrl.pageImage}})'}")
    h2 {{$ctrl.pageTitle}}
  md-content#mainListOngs(layout="column" flex="100")
    md-content#lista(flex = "100" layout="column" layout-align="center center")
      h3 Abaixo estão as ONGs que mais se destacaram em nossos critérios de avaliação.
      .container
        md-list#listOngs(layout-gt-sm="row" layout="column" layout-wrap layout-align="center center")
          md-list-item(ng-repeat="ong in $ctrl.listOngToDisplay " layout="column"  layout-align="center center")
            md-card(style="width: 300px")
              md-card-title
                md-card-title-text(layout-align="center center")
                  h1 {{ong.nome}} 
                  img.md-card-image(ng-src="{{ong.logo}}" )
                  h4 Atua em: {{ong.localidades}}
              md-card-content
                  p {{ong.desc}}
              md-action(layout="row" layout-align="center center")
            a(ng-href="{{ong.link}}")
              md-button.md-raised.md-primary Apoiar
contact-form