
div#listOngs {
  
  md-content#mainPage {
    .sectionHeading {
      font-size: 60px;
    }
    md-content#comoFunciona {
      text-align: center;
      height: 100%;
      width: 100%;
      background-color: white;
      md-list#actions {
        md-list-item {
          div#escolha {
            span {
              i#icon {
                color: white;
              }
            }
          }
        }
      }
    }

  }
  md-content#contato {
      color: white;
      background-image: url("/assets/images/map-image.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-color: #7e7e7e;
      background-position: top center;
    }

}
