html
  head
    meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
    //- title = "Email doebem: " + subject
    body
      h1.h1 
      
      h3 Novo inscrito na newsletter:
      br

      p #{message}

      p Adicione o novo inscrito no Mailchimp

      p Equipe doebem

      //- Siga a doebem nas redes sociais
