div.animated.fadeIn#duvidas
  div#pageHeader(flex="100"  layout="column" layout-align="center center")
    h2 Checkout Sandbox
  div#comoFunciona
    form(method="post" class="form-horizontal")
    div.panel.panel-info
      .panel-heading Endereço
      .panel-body
        .form-group
          div.col-md-12
            h4 Endereço de entrega
            

contact-form
