div#cadOng {
  background-color: lightslategray;
  background-image: url('/assets/images/map-image.png');
  background-size: cover;
  background-repeat: no-repeat;
  div#form {
    img.FormImage {
      max-width: 50px;
      max-height: 50px;
    }
    background-color: white;
    //color: white;
    div form div div
     md-input-container {
      border-radius: 2%;
      margin-bottom: -10px;
      background-color: white;
      color: black;
      //font-size: 20px;
      label {
        color: black;
      }
     
      md-icon  {
        font-size: 20px;
        i.fa {
          color: blue;
        }

      }
    }
  }
}
 md-select-menu md-option{
        color: black;
      }
  div#imageForm {
        div#drop {
          background-color: lightgray;
          min-height: 70px;
        }
      }      