div.layout-padding#cadOng(layout="column" layout-align="center center")
  h1 Cadastro ONGs
  .container(layout = "row" )
    div#form(flex="100")
      div(layout="column" flex="100")
        form(name="ongForm" layout="column" ng-submit="$ctrl.addOng($ctrl.ongForm)")
          div(layout="column"  flex="100" )
            div#CadBasico(layout="column" layout-gt-sm="row"  flex="100")
              md-input-container.md-block.md-icon-float(flex-gt-sm="30" flex="100")
                md-icon
                  i.fa.fa-user  
                label Nome Fantasia
                input(ng-model="$ctrl.ongForm.nomeFantasia" required)         
              md-input-container.md-block(flex)
                label Razão Social
                input(ng-model="$ctrl.ongForm.razaoSocial" required)
              md-input-container.md-block(flex-gt-sm="15" flex="100")
                label CNPJ
                input(ng-model="$ctrl.ongForm.cnpj" ui-br-cnpj-mask required)
              md-input-container.md-block(flex-gt-sm="10" flex="100")
                label Ano Fundação
                input(ng-model="$ctrl.ongForm.anoFundacao" required ng-pattern="/^[0-9]{4}$/" md-maxlength="4")          
            div#CadContatos(layout="column" layout-gt-sm="row"  flex="100")    
              md-input-container.md-block(flex-gt-sm="15" flex="100")
                md-icon
                  i.fa.fa-phone   
                input(type="text" ng-model="$ctrl.ongForm.telefone"  placeholder="Telefone" ui-br-phone-number ng-required="true")  
              md-input-container.md-block(md-no-float flex-gt-sm="30" flex="100")
                md-icon
                  i.fa.fa-envelope   
                input(type="email" ng-model="$ctrl.ongForm.email" placeholder="Email" required)
              md-input-container.md-block(md-no-float flex-gt-sm="30" flex="100")                  
                input( ng-model="$ctrl.ongForm.urlSite" placeholder="Site" required) 
              md-input-container.md-block(flex-gt-sm="25" flex="100")
                label Slug 
                input(ng-model="$ctrl.ongForm.slug" required)                         
            div#Endereco(layout="column" layout-gt-sm="row"  flex="100")   
              md-input-container.md-block.md-icon-float(flex-gt-sm="10" flex="100")
                md-icon
                  i.fa.fa-search  
                label Cep
                input(ng-model="$ctrl.ongForm.cep" ui-br-cep-mask ng-blur="$ctrl.buscaEnd($ctrl.ongForm.cep)" required)          
              md-input-container.md-block(flex)
                label Logradouro
                input(type = "text" ng-model="$ctrl.ongForm.logradouro" required blocked) 
                md-icon
                  i.fa.fa-map-marker  
              md-input-container.md-block(flex-gt-sm="10" flex="100")
                label num
                input(ng-model="$ctrl.ongForm.num" required) 
                md-icon
                  i.fa.fa-map-marker        
              md-input-container.md-block(flex-gt-sm="20" flex="100")
                label Cidade 
                input(ng-model="$ctrl.ongForm.cidade" required)   
              md-input-container.md-block(flex-gt-sm="10" flex="100")
                label Estado
                input(ng-model="$ctrl.ongForm.estado" ng-value="{{state.Sigla}}")  
            div#Imagens(layout="column" layout-gt-sm="row"  flex="100")
              md-input-container.md-block(flex-gt-sm="20" flex="100")
                label Logo
                input(ng-model="$ctrl.ongForm.logo" required) 
              md-input-container.md-block(flex-gt-sm="20" flex="100")
                label Imagem de Fundo
                input(ng-model="$ctrl.ongForm.backgroundImage" required)                                 
              md-input-container.md-block(flex-gt-sm )
                  label Imagens da ONG
                  input(ng-model="$ctrl.ongForm.imagens.imagem" required)
            div#Infos(layout="column" layout-gt-sm="row"  flex="100")
              md-input-container.md-block(flex-gt-sm="20"  flex="100")
                label Causa
                md-select(ng-model="$ctrl.ongForm.causa" )  
                  md-option(ng-repeat="area in $ctrl.listAreasDeAtuacao" value="{{area.abbrev}}") {{area.desc}}
              md-input-container.md-block(flex-gt-sm="20"  flex="100")
                label Causa - FrontEnd
                md-select(ng-model="$ctrl.ongForm.causaFrontEnd" )  
                  md-option(ng-repeat="area in $ctrl.listAreasDeAtuacao" value="{{area.desc}}") {{area.desc}}                  
              md-input-container.md-block(flex)
                  label Locais de Atuação
                  input(ng-model="$ctrl.ongForm.localidadesDeAtuacao.localidade" required)              
            div#Analises(layout="column" flex="100")
                md-input-container.md-block(flex-gt-sm)
                  label Pequena Descrição 
                  textarea(ng-model="$ctrl.ongForm.desc" columns="1" md-maxlength="140")            
                md-input-container.md-block(flex-gt-sm)
                  label Sobre a ONG
                  textarea(ng-model="$ctrl.ongForm.sobre" columns="1")
                md-input-container.md-block(flex-gt-sm)
                  label Gestão
                  textarea(ng-model="$ctrl.ongForm.analiseGestao" columns="1")
                md-input-container.md-block(flex-gt-sm)
                  label Transparência
                  textarea(ng-model="$ctrl.ongForm.analiseTransparencia" columns="1")    
                md-input-container.md-block(flex-gt-sm)
                  label Impacto
                  textarea(ng-model="$ctrl.ongForm.analiseImpacto" columns="1")
                md-input-container.md-block(flex-gt-sm)
                  label PDF
                  textarea(ng-model="$ctrl.ongForm.linkPdf" columns="1")
          div(flex="10")         
            md-button.md-raized.md-primary(type="submit") Cadastrar
              