div#cadOng(layout="column" layout-align="center center")
  h1 Cadastre aqui sua ONG
  .container(layout = "row" )
    div#list(flex="25")
      md-list
        md-list-item(ng-repeat="ong in $ctrl.listOng")
          h3 {{ong.nome}}
    div#form(flex="75")
      h2.sectionHeading Cadastro
      div(layout="column" flex="100")
        form(name="ongForm" layout="column" ng-submit="$ctrl.addOng($ctrl.ongForm)")
          div(layout="column" layout-gt-sm="row" flex="100" )
            div#info(layout="column" flex="100")
              md-input-container.md-block(flex-gt-sm)
                label Nome Fantasia
                input(ng-model="$ctrl.ongForm.nomeFantasia" required)
              md-input-container.md-block(flex-gt-sm)
                label Razão Social
                input(ng-model="$ctrl.ongForm.razaoSocial" required)
              md-input-container.md-block(flex-gt-sm)
                label CNPJ
                input(ng-model="$ctrl.ongForm.cnpj" required)  
              md-input-container.md-block(flex-gt-sm)
                label End
                input(ng-model="$ctrl.ongForm.end" required) 
              md-input-container.md-block(flex-gt-sm)
                label Cidade 
                input(ng-model="$ctrl.ongForm.cidade" required)   
              md-input-container.md-block(flex-gt-sm)
                label Estado
                md-select(ng-model="$ctrl.ongForm.uf" )  
                  md-option(ng-repeat="state in $ctrl.states" value="{{state.Sigla}}")
                   span {{state.Nome}}
              md-input-container.md-block(flex-gt-sm)
                label Cep
                input(ng-model="$ctrl.ongForm.cep" required)     
              md-input-container.md-block
                label Area de Atuação
                md-select(ng-model="$ctrl.ongForm.areaDeAtuacao" )  
                  md-option(ng-repeat="area in $ctrl.listAreasDeAtuacao" value="{{area.abbrev}}")
                   span {{area.desc}}
              md-input-container.md-block
                label Logo
                input(ng-model="$ctrl.ongForm.logo" required)      
            div#desc(layout="$ctrl.column" flex="100")
              md-input-container.md-block(flex-gt-sm)
                label Desc
                textarea(ng-model="$ctrl.ongForm.desc" columns="1")
          div(flex="10")         
            md-button.md-raized.md-primary(type="submit") Cadastrar 

script(type="text/ng-template" id="dialogEmailSend.tmpl.pug")
  md-dialog(aria-label="emailSend")
    form(ng-cloak)
      md-toolbar
        div.md-toolbar-tools
          h2 Email Enviado!
          span(flex)
          md-button.md-icon-button(aria-label="md-button ok", ng-click="cancel()")
            md-icon
              ng-md-icon.name(icon="close" style="fill: white")
      md-dialog-content
        div.md-dialog-content
          h2 Obrigado pela sua mensagem! {{$ctrl.user.fistName}}
      md-dialog-actions(layout="row")
        span(flex)
         md-button(ng-click="cancel()") Ok         