div.layout-padding#cadOng(layout="column" layout-align="center center")
  h1 Cadastre aqui sua ONG
  .container(layout = "row" )
    div#form(flex="100")
      div(layout="column" flex="100")
        form(name="ongForm" layout="column" ng-submit="$ctrl.addOng($ctrl.ongForm)")
          div(layout="row" layout-gt-sm="column" flex="100" )
            div#Cad(layout="row" flex="100")
              md-input-container.md-block.md-icon-float(flex-gt-sm)
                md-icon
                  i.fa.fa-user  
                label Nome Fantasia
                input(ng-model="$ctrl.ongForm.nomeFantasia" required)         
              md-input-container.md-block(flex-gt-sm)
                label Razão Social
                input(ng-model="$ctrl.ongForm.razaoSocial" required)
              md-input-container.md-block(flex-gt-sm flex="20")
                label CNPJ
                input(ng-model="$ctrl.ongForm.cnpj" ui-br-cnpj-mask required)  
            div#Cad2(layout="row" flex="100")    
              md-input-container.md-block(flex-gt-sm)
                md-icon
                  i.fa.fa-phone   
                input(type="text" ng-model="$ctrl.ongForm.telefone"  placeholder="Telefone" ui-br-phone-number ng-required="true")  
              md-input-container.md-block(md-no-float flex-gt-sm)
                md-icon
                  i.fa.fa-envelope   
                input(type="email" ng-model="$ctrl.ongForm.email" placeholder="Email" required)                              
            div#End(layout="row" flex="100")   
              md-input-container.md-block.md-icon-float(flex-gt-sm flex="15")
                md-icon
                  i.fa.fa-search  
                label Cep
                input(ng-model="$ctrl.ongForm.cep" ui-br-cep-mask ng-blur="$ctrl.buscaEnd($ctrl.ongForm.cep)" required)          
              md-input-container.md-block(flex-gt-sm flex="35")
                label Logradouro
                input(type = "text" ng-model="$ctrl.ongForm.logradouro" required blocked) 
                md-icon
                  i.fa.fa-map-marker  
              md-input-container.md-block(flex-gt-sm flex="10")
                label num
                input(ng-model="$ctrl.ongForm.num" required) 
                md-icon
                  i.fa.fa-map-marker        
              md-input-container.md-block(flex-gt-sm flex="20")
                label Cidade 
                input(ng-model="$ctrl.ongForm.cidade" required)   
              md-input-container.md-block(flex-gt-sm flex="10")
                label Estado
                //- md-select(ng-model="$ctrl.ongForm.uf" )  
                  //- md-option#EstadoOpt(ng-repeat="state in $ctrl.states" ng-value="{{state.Sigla}}") {{state.Nome}}
                input(ng-model="$ctrl.ongForm.state" ng-value="{{state.Sigla}}") {{state.Nome}}
            div.md-padding#info(layout="row" flex="100")          
              md-input-container.md-block(flex-gt-sm  flex="20")
                label Area de Atuação
                md-select(ng-model="$ctrl.ongForm.areaDeAtuacao" )  
                  md-option(ng-repeat="area in $ctrl.listAreasDeAtuacao" value="{{area.abbrev}}") {{area.desc}}
              md-input-container.md-block(flex-gt-sm )
                label Logo
                input(ng-model="$ctrl.ongForm.logo" required) 
              md-input-container.md-block(flex-gt-sm)
                label Slug 
                input(ng-model="$ctrl.ongForm.slug" required)         
            div.padding#desc(layout="$ctrl.column" flex="100")
              md-input-container.md-block(flex-gt-sm)
                label Desc
                textarea(ng-model="$ctrl.ongForm.desc" columns="1")
          div(flex="10")         
            md-button.md-raized.md-primary(type="submit") Cadastrar 
  