html
  head
    meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
    title= subject
    body
      h1.h1 Thank you!
      p
        strong You realy dont know how much your contact means to me!
      h3 Follows a copy of your message:

      p.
        {{message}}

      p  Please fill free to contact me at
        a(href="mailto:jogatis@metaconexao.com.br") jrogatis@metaconexao.com.br!

      p Regards

      p Jean Philip de Rogatis

