html
  head
    meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
    title= subject
    body
      h1.h1 Thank you!
      p
        strong You realy dont know how much your contact means to me!
      h3 Abaixo está uma cópia da sua mensagem:

      p {{message}}

      p Please fill free to contact me at
        a(href="mailto:doebem@gmail.com") doebem@gmail.com

      p Obrigado,

      p Equipe doebem

